
body {
    background-color: black;
    max-width: 1280px;
    max-height: 720px;
    color: #EB9E4C;
}

.container {
    margin-top: 0px;
}

#holder {
    height: 600px;
    width: 600px;
    float: right;
    margin-top: 50px;
    }

#time {
    font: 100 5em Arial, Helvetica, sans-serif;
    float: left;
    margin-left: 2%;
    margin-top: 310px;
}

a {
	float: right;
	text-decoration: none;
	color: gray;
}
a:hover {
	color: orange;
	
}
           

