body{
	background: -moz-linear-gradient(top,  rgba(77,191,64,1) 0%, rgba(77,191,64,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,191,64,1)), color-stop(100%,rgba(77,191,64,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(77,191,64,1) 0%,rgba(77,191,64,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(77,191,64,1) 0%,rgba(77,191,64,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(77,191,64,1) 0%,rgba(77,191,64,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(77,191,64,1) 0%,rgba(77,191,64,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbf40', endColorstr='#004dbf40',GradientType=0 ); /* IE6-9 */

}

h1{
	color: white;
}

@media (max-width: 767px){
	.span3 {
		margin-bottom: 20px;
	}
}

.span6 {
	text-align: center;
	margin-top: 50px;
}

a:hover {
	text-decoration: none;
	color: rgba(77,191,64,1);
}

a {
	color: black;
}
